<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
      <add name="ConnBD" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\STARTER\source\repos\demo\demo\DemoDB.mdf;Integrated Security=True" />
    <add name="DemoDBEntities" connectionString="metadata=res://*/DateBaseDB.csdl|res://*/DateBaseDB.ssdl|res://*/DateBaseDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Computer\SQLEXPRESS;initial catalog=DemoDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>